@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Playfair+Display:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --bg-color-dark: rgba(0,0,0,0.6);
    --text-color-dark: #FFFFFF;
    --font-family-playfair: 'Playfair Display', serif;
    --color-blue: #14b9d5;
    --color-blue-dark: #005968;
    --color-dark-gray: #505050;
}

/* change 1rem = 10px */
html {
    font-size: 62.5%;
}

/*header*/

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
    position: absolute;
    width: 100%;
    z-index: 3;
}
a{
    text-decoration: none;
    color: var(--text-color-dark);
}
.logo {
    height: 100%;
}

.logo img {
    height: 75px;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.menu{
    padding: 10px 50px;
}
nav .nav-items li,
.menu .account {
    padding: 10px;
    border-radius: 8px;
}

nav .nav-items li:hover,
.menu .account:hover {
    background-color: var(--bg-color-dark);
    transition: all ease-in 0.3s;
}

nav .nav-items li a,
.menu .account {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.25rem;

}

nav .nav-items li:last-child {
    background-color: #ff411bc1;
}

.menu img {
    height: 25px;
    width: 25px;
    cursor: pointer;
    display: none;
}

.side-bar{
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 35%;
    padding: 20px;
    background-color: #505050ed;
}
.side-bar .x{
    padding: 10px;
    font-size: 18px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.side-bar ul{
    list-style: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.side-bar ul li{
    display: flex;
    justify-content: center;
    padding: 20px;
    border-bottom: 1px solid;
}
.side-bar ul .last a{
    padding: 20px 30px;
    background: var(--bg-color-dark);
    border-radius: 52px;
}
.side-bar .last{
    border: none;
    margin-top: 30px;
}
.banner {
    height: 90vh;
    background-image: url(../img/front.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .overlay {
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    top: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;


}

.banner .content {
    width: 40%;
    text-align: center;
    color: var(--text-color-dark);
    z-index: 2;
}

.banner .content h1 {
    font-size: 5.8rem;
    font-family: var(--font-family-playfair);
    font-weight: 700;
    line-height: 1.4;
}

.banner .content h5 {
    font-family: var(--font-family-playfair);
    font-size: 18px;
    font-weight: 400;
}

.banner .content p {
    font-size: 16px;
    padding-bottom: 2rem;
    letter-spacing: 2px;
}

.btn {
    background-color: #ff411bc1;
    text-decoration: none;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 10px;
    color: var(--text-color-dark);
    letter-spacing: 2.5px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 150px;
    transition: all 0.5s ease-out;
    text-transform: capitalize;
}

.btn:hover {
    transform: scale(1.15);
    background-color: #ff411bdf;
}

@media screen and (max-width: 1023px) {
    .nav-items {
        display: none;
    }

    .menu img {
        display: block;
    }
    .account {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .side-bar{
        transform: translateX(100%) !important;
    }
}
@media screen and (max-width: 760px) {
    html {
        font-size: 47%;
    }

    .banner .content {
        width: 80%;
    }
    .side-bar{
        width: 60%;
    }
    .banner .content p {
        font-size: 1.5rem;
    }

}
@media screen and (max-width: 400px){
    .side-bar{
        width: 80%;
    }
}

@media screen and (max-width: 310px) {
    nav {
        justify-content: center;
        height: auto;
    }
    .side-bar{
        width: 90%;
    }
}

/*destination part*/
.destination {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
}

h2.heading {
    position: relative;
    text-transform: uppercase;
    font-size: 2.8rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 10px;
    opacity: 0.8;
}

.promo {
    color: var(--color-dark-gray);
    letter-spacing: 1.75px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
}

.underline {
    position: relative;
    z-index: 99;
}

.underline::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--color-blue);
    top: 80%;
    left: 0;
    z-index: -10;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.card {
    display: flex;
    width: 375px;
    height: 375px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 10px;
    position: relative;
}

.card::after {
    content: "";
    position: absolute;
    width: 375px;
    ;
    height: 375px;
    background-color: black;
    opacity: 0.15;
}

.card .text {
    width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}

.card .text h3 {
    font-size: 2.3rem;
    text-transform: capitalize;
    color: var(--text-color-dark);
    font-weight: 500;
}

.card .text .package {
    text-transform: capitalize;
    color: var(--text-color-dark);
    font-size: 1.5rem;
}

.card .card-details {
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color-dark);
}

.card .card-details h4 {
    font-size: 18px;
    padding: 20px;
    text-transform: capitalize;
}

.card .card-details a {
    font-size: 15px;
    padding-bottom: 5px;
    text-transform: capitalize;
}

.card-btn {
    margin-top: 10px;
    padding: 10px 20px !important;
    color: var(--color-blue-dark) !important;
    background-color: var(--text-color-dark);
    border-radius: 20px;
    font-weight: 400;
}

.card:hover>.card-details {
    display: flex;
    background: var(--color-blue);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
    transition: all 0.5s ease;
}

/*media query for destination section*/
@media screen and (max-width: 830px) {
    .card {
        display: flex;
        width: 90%;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin: 10px;
        position: relative;
    }

    .card::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: black;
        opacity: 0.15;
    }
}

.para {
    padding: 10px;
    font-size: 15px;
    color: var(--color-dark-gray);
    opacity: 0.8;
}

@media screen and (max-width:830px) {
    .image-slider,
    .details,.description .items,.promo-card,.list-item ,.info{
        width: 90% !important;
    }
}
.promo-card{
    width: 375px;
    margin: 10px;
    position: relative;
    overflow: hidden;
}
.promo-card img:hover{
    scale: 1.1;
}
.promo-card .details{
    margin: 20px;
}
.title{
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-transform: capitalize;
}
.location{
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-dark-gray);
}
.feature{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-dark-gray);
    letter-spacing: 1.5px;
}
.highlight{
    color: var(--text-color-dark);
    font-size: 14px;
    letter-spacing: 3px;
    padding: 3px 10px;
    border-radius: 99px;
}
.guide-card{
    width: 400px;
    margin: 10px;
    transition: all 1.5s ease-in-out;
}
.guide-card:hover img{
    scale: 1.1;
    max-width: 400px;
    transition: all 1.5s ease-in-out;
}
.guide-card img{
    width: 100%;
}
.guide-card h2{
    text-align: center;
    font-size: 2rem;
    color: var(--color-blue-dark);
    position: relative;
    z-index: 99;
    padding: 2rem;
}
.card-scroll{
    display: flex;
    animation: scrolls 30s ease-in-out infinite;
}
.card-scroll:hover{
    animation-play-state: paused;
}
@keyframes scrolls{
    0%{
        transform: translateX(30%);
    }
    100%{
        transform: translateX(-30%);
    }
}
@media screen and (max-width:1224px){
    .guide-card{
        width: 60vw;
    }
}
/* footer*/

footer{
    display: flex;
    justify-content: center;background-image: url(../img/footer-1.jpg);
    margin-top: 30px;
    position: relative;
}
footer::after{
    content: "";
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--bg-color-dark);
}
footer .info .logo{
    height: 75px;
    position: relative;
    z-index: 99;
}
.list-item{
    width: 20%;
    position: relative;
    z-index: 99;
    color: var(--text-color-dark);
    padding: 10px;
}
.list-item h2{
    font-size: 2.2rem;
    padding: 10px;
}
.list-item a{
    font-size: 18px;
    padding: 10px;
    line-height: 1.8;
    text-transform: capitalize;
}
.list-item:last-child{
    display: flex;
    flex-direction: column;
    width: 25%;
}
.list-item p, .list-item input{
    font-size: 16px;
    padding: 10px;
}
.list-item input{
    max-width: 400px;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}
footer .info{
    width: 35%;
    font-size: 1.6rem;
    color: var(--text-color-dark);
    z-index: 99;
}
footer .info p{
    font-size: 16px;
    padding: 10px;
}
.submit-btn{
    width: fit-content;
    padding: 10px;
    margin: 10px;
    background-color: var(--color-blue);
    color: var(--text-color-dark);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
}
